{% extends "base.html" %}

{% block title %}Asignar Colaboradores{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6">Asignar Colaboradores</h1>
    <form method="POST" action="{{ url_for('assign_collaborators', project_id=project.project_id) }}" class="bg-bone p-4 rounded-lg shadow-md">
        <!-- ID del Proyecto (oculto) -->
        <input type="hidden" name="project_id" value="{{ project.project_id }}">

        <!-- Campos para colaboradores -->
        <div class="mb-4">
            <label for="student_id" class="block text-gray-700 text-sm font-bold mb-2">
                ID del Estudiante:
            </label>
            <input type="number" id="student_id" name="student_id" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="mb-4">
            <label for="role" class="block text-gray-700 text-sm font-bold mb-2">
                Rol del Colaborador:
            </label>
            <select id="role" name="role" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="assistant">Asistente</option>
                <option value="researcher">Investigador</option>
                <option value="intern">Interino</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="status" class="block text-gray-700 text-sm font-bold mb-2">
                Estado del Colaborador:
            </label>
            <select id="status" name="status" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="active">Activo</option>
                <option value="completed">Completado</option>
                <option value="left">Abandonado</option>
            </select>
        </div>

        <!-- Botón de Asignar -->
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Asignar Colaborador
        </button>
    </form>
</div>
{% endblock %}